<a href="https://colab.research.google.com/github/jamahalwin/chicago-crime-analysis/blob/master/ML_Chicago_Crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chicago Crime Analysis

In [0]:
# Use seaborn for pairplot
!pip install seaborn

# Use some functions from tensorflow_docs
!pip install git+https://github.com/tensorflow/docs

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [0]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

In [0]:
dataset_path =  keras.utils.get_file('chicago-crime-sample.data', 'https://raw.githubusercontent.com/jamahalwin/chicago-crime-analysis/master/Chicago_Crimes_Project_Data.csv')
dataset_path

In [8]:
column_names = ['ID','Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
                'Description', 'Location Description', 'Arrest',
                'Domestic', 'Beat', 'District', 'Ward', 'Community Area',
                'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On',
                'Latitude', 'Longitude', 'Location']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=",", skipinitialspace=False)

dataset = raw_dataset.copy()
dataset.tail()

          ID Case Number  ...     Longitude                       Location
77  10509764    HZ249689  ...  -87.64972028  (41.782728365, -87.649720276)
78  10509769    HZ251010  ...  -87.72279189  (41.907274031, -87.722791892)
79  10509770    HZ250329  ...  -87.74767892   (41.945257538, -87.74767892)
80  10509783    HZ251242  ...   -87.5926442  (41.764185391, -87.592644199)
81  10509784    HZ251276  ...  -87.79647287  (41.994197554, -87.796472871)

[5 rows x 22 columns]